<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- This version uses the openai_ros environments -->
    <rosparam command="load" file="$(find trex_openai_ros)/config/walrus_test_params.yaml" />
    <!-- Launch the training system -->
    <node pkg="trex_openai_ros" name="walrus_training" type="start_training.py" output="screen"/>
</launch>